@page
@model Earth.Ear.Therapy.FanFoot.Pages.web.WeeklyResultsDocuments.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>Create Weekly Results Document</h1>

<p>Please Wait...</p>
