@model Earth.Ear.Therapy.FanFoot.Models.SeasonViewModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>Create Season</h1>

<p>Last Seasons:</p>
<table class="seasons">
    <thead>
        <tr>
            <th>Id</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seasonEntity in Model.LastSeasons)
        {
            <tr>
                <td>seasonEntity.SeasonId</td>
                <td>seasonEntity.BeginDateTimeUtc</td>
                <td>seasonEntity.EndDateTimeUtc</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { seasonId = seasonEntity.SeasonId })
                </td>
            </tr>
        }
    </tbody>
</table>

<label for="seasonBeginDateUtc">Season Begin Date:</label>
<input id="seasonBeginDateUtc" asp-for="@Model.BeginDateTimeUtc" type="date" asp-format="{0:yyyy-MM-dd}" />

<label for="seasonEndDateUtc">Season End Date:</label>
<input id="seasonEndDateUtc" asp-for="@Model.EndDateTimeUtc" type="date" asp-format="{0:yyyy-MM-dd}" />

