@page
@model earth.Ear.Therapy.FanFoot.Pages.web.Seasons.CreateModel
@*
    @{
        ViewData["Title"] = "Create";
    }
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>Create A New Season</h1>

@if (Model.LastSeasons != null)
{
    <p>Last Seasons:</p>
    <table class="seasons">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seasonEntity in Model.LastSeasons)
            {
                <tr>
                    <td>@seasonEntity.SeasonId</td>
                    <td>@seasonEntity.BeginDateTimeUtc.ToString("yyyy-MMM-dd")</td>
                    <td>@seasonEntity.EndDateTimeUtc.ToString("yyyy-MMM-dd")</td>
                    <td>@seasonEntity.Description</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
}

@if (Model.IsGet)
{
    <form method="POST">
        <div>Season Description: <input type="text" asp-for="Description"/></div>
        <div>Season Date - Begin: <input type="date" asp-for="BeginDateTimeUtc" asp-format="{0:yyyy-MM-dd}"/></div>
        <div>Season Date - End: <input type="date" asp-for="EndDateTimeUtc" asp-format="{0:yyyy-MM-dd}"/></div>
        <br />
        <input type="submit" name="Action" value="Create"/>
        <input type="submit" name="Action" value="Cancel"/>
    </form>
}
