@page
@model Earth.Ear.Therapy.FanFoot.Pages.web.Seasons.UpdateModel
@*
    @{
        ViewData["Title"] = "Update";
    }
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1>Update A Season</h1>

@if (Model.Season != null)
{
    <table class="seasons">
        <thead>
        <tr>
            <th>Id</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.Season.SeasonId</td>
            <td>@Model.Season.BeginDateTimeUtc.ToString("yyyy-MMM-dd")</td>
            <td>@Model.Season.EndDateTimeUtc.ToString("yyyy-MMM-dd")</td>
            <td>@Model.Season.Description</td>
        </tr>
        </tbody>
    </table>
    
    <br />
}

@if (Model.IsGet)
{
    <form method="POST">
        <div>Season Description: <input type="text" asp-for="Description"/></div>
        <div>Season Date - Begin: <input type="date" asp-for="BeginDateTimeUtc" asp-format="{0:yyyy-MM-dd}"/></div>
        <div>Season Date - End: <input type="date" asp-for="EndDateTimeUtc" asp-format="{0:yyyy-MM-dd}"/></div>
        <input type="submit" name="Action" value="Update"/>
        <input type="submit" name="Action" value="Cancel"/>
    </form>
}
