@page
@model Earth.Ear.Therapy.FanFoot.Pages.AboutModel
@{
}

<h1>About</h1>

<p>Fantasy Football Assistant.</p>

<p>Version: V0</p>

<p>Credits to <a href="https://fantasy.premierleague.com/">Premier League Fantasy Football League</a>.</p>

<p>Created by <a href="https://Éadent.com/">&Eacute;adent.com</a></p>
